{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<!-- ================ -->
<section class="main-container content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-signup">
                        <div class="header header-primary text-center">
                            <h4> Administration </h4>
                        </div>
                        <div class="content">
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            <!-- Tabs with icons on Card -->
                            <div class="card card-nav-tabs">
                                <div class="header header-info">
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="active">
                                                    <a href="#articles" data-toggle="tab">
                                                        Articles
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#commentaires" data-toggle="tab">
                                                        Commentaires
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#utilisateurs" data-toggle="tab">
                                                        Utilisateurs
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="articles">
                                            {% if articles %}
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Titre</th>
                                                            <th> Actions</th>
                                                        </tr>
                                                        </thead>
                                                        {% for article in articles %}
                                                            <tr class="adminTable">
                                                                <td>{{ article.date  }}</td>
                                                                <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                                                                <td>
                                                                    <a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs" title="Edit">  <i class="material-icons">Modifier</i>    </a>
                                                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ article.id }}"> <i class="material-icons">Supprimer</i>
                                                                    </button>
                                                                    <div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                    <h4 class="modal-title" id="myModalLabel"> Nous avons besoin de votre confirmation </h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    Voulez vous vraiment supprimer cet article ?                                   </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal"> Annuler</button>
                                                                                    <a href="{{ path('admin_article_delete', { 'id': article.id }) }}"> <button type="button" class="btn btn-danger"> Confirmer </button>  </a>
                                                                                </div>
                                                                            </div><!-- /.modal-content -->
                                                                        </div><!-- /.modal-dialog -->
                                                                    </div><!-- /.modal -->
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-warning">Aucun articles</div>
                                            {% endif %}
                                            <a href="{{ path('admin_article_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un article</button></a>
                                        </div>
                                        <div class="tab-pane" id="commentaires">
                                            {% if comments %}
                                                <h3> Commentaires signalés :<br><br>   </h3>
                                                <div class="table-responsive">
                                                    {% if moderationComment == false %}
                                                        <p> Il n'y a pas de commentaires signalés </p>
                                                    {% else %}
                                                        <table class="table table-hover table-condensed">
                                                            <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Article</th>
                                                                <th>Auteur</th>
                                                                <th>Commentaire</th>
                                                                <th>Actions</th>  <!-- Actions column -->
                                                            </tr>
                                                            </thead>
                                                            {% for comment in comments %}
                                                                {% if comment.moderation != NULL %}
                                                                    <tr class="redAdminTable">
                                                                        <td>{{ comment.date }}</td>
                                                                        <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                                                                        <td>{{ comment.author }}</td>
                                                                        <td>{{ comment.content | truncate(60) }}</td>
                                                                        <td>
                                                                            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit">Modifier</a>
                                                                            <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"> <i class="material-icons">Supprimer</i>
                                                                            </button>
                                                                            <button type="button" class="btn btn-success btn-xs" title="Valid" data-toggle="modal" data-target="#commentDialogValid{{ comment.id }}">  <i class="material-icons">C'est OK</i>
                                                                            </button>
                                                                            <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                            <h4 class="modal-title" id="myModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            Voulez vous vraiment supprimer ce commentaire  ? La supression d'un commentaire entrainera la suppression de ses réponses.
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                                            <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}"> <button type="button" class="btn btn-danger"> Confirmer </button>  </a>
                                                                                        </div>
                                                                                    </div><!-- /.modal-content -->
                                                                                </div><!-- /.modal-dialog -->
                                                                            </div><!-- /.modal -->
                                                                            <div class="modal fade" id="commentDialogValid{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                            <h4 class="modal-title" id="myModalLabel"> Validation</h4>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            Voulez vous vraiment valider ce commentaire?
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                                            <a href="{{ path('admin_comment_valid', { 'id': comment.id }) }}"> <button type="button" class="btn btn-success"> Confirmer </button>  </a>
                                                                                        </div>
                                                                                    </div><!-- /.modal-content -->
                                                                                </div><!-- /.modal-dialog -->
                                                                            </div><!-- /.modal -->
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    {% endif %}
                                                </div>
                                                <h3> Tous les commentaires : <br> <br> </h3>
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Article</th>
                                                            <th>Auteur</th>
                                                            <th>Commentaire</th>
                                                            <th>Actions</th>  <!-- Actions column -->
                                                        </tr>
                                                        </thead>
                                                        {% for comment in comments %}
                                                            <tr class="adminTable">
                                                                <td>{{ comment.date }}</td>
                                                                <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                                                                <td>{{ comment.author }}</td>
                                                                <td>{{ comment.content | truncate(60) }}</td>
                                                                <td>
                                                                    <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Editer">  <i class="material-icons">Modifier</i>   </a>
                                                                    <button type="button" class="btn btn-danger btn-xs" title="Effacer" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"> <i class="material-icons">Supprimer</i>
                                                                    </button>
                                                                    <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                    <h4 class="modal-title" id="myModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    Voulez vous vraiment supprimer ce commentaire  ? La supression d'un commentaire entrainera la suppression de ses réponses.
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                                    <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}"> <button type="button" class="btn btn-danger"> Confirmer </button>  </a>
                                                                                </div>
                                                                            </div><!-- /.modal-content -->
                                                                        </div><!-- /.modal-dialog -->
                                                                    </div><!-- /.modal -->
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-warning"> Aucuns commmentaires</div>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane" id="utilisateurs">
                                            {% if users %}
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th>Nom</th>
                                                            <th>Rôle</th>
                                                            <th>Actions</th>  <!-- Actions column -->
                                                        </tr>
                                                        </thead>
                                                        {% for user in users %}
                                                            <tr class="adminTable">
                                                                <td>{{ user.username }}</a></td>
                                                                <td>
                                                                    {% if user.role == 'ROLE_ADMIN' %}
                                                                        Admin
                                                                    {% else %}
                                                                        Utilisateur
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Editer"> <i class="material-icons">Modifier</i> </a>
                                                                    <button type="button" class="btn btn-danger btn-xs" title="Effacer" data-toggle="modal" data-target="#userDialog{{ user.id }}">  <i class="material-icons">Supprimmer</i>
                                                                    </button>
                                                                    <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                    <h4 class="modal-title" id="myModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    Voulez vous vraiment supprimer cet utilisateur ?
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                                    <a href="{{ path('admin_user_delete', { 'id': user.id }) }}"> <button type="button" class="btn btn-danger"> Confirmer </button>  </a>
                                                                                </div>
                                                                            </div><!-- /.modal-content -->
                                                                        </div><!-- /.modal-dialog -->
                                                                    </div><!-- /.modal -->
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-warning">No users found.</div>
                                            {% endif %}
                                            <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter un utilisateur</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tabs with icons on Card -->
                        </div>
                    </div>
                </div>
            </div>
</section>
{% endblock %}
