{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<!-- ================ -->
    <section class="main-container">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 id="tabs" class="page-title">Administrations</h1>
                    <br>
                    <!-- page-title end -->
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <!-- tabs start -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#htab1" role="tab" data-toggle="tab"><i class="fa fa-home pr-9"></i> Les articles</a></li>
                        <li><a href="#htab2" role="tab" data-toggle="tab"><i class="fa fa-envelope pr-9"></i> Les commentaires</a></li>
                        <li><a href="#htab3" role="tab" data-toggle="tab"><i class="fa fa-user pr-9"></i> Les utilisateurs</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="htab1">
                            <div class="space-bottom"></div>
                            <div class="row">
                                {% if articles %}
                                    <div class="col-md-12">
                                        <table class="table table-hover table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Titre</th>
                                                <th>Date</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            {% for article in articles %}
                                            <tbody>
                                            <tr>
                                                <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                                                <td>{{ article.date  }}</td>
                                                <td>
                                                    <a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-primary btn-xs" title="Modifier">   <i class="glyphicon glyphicon-pencil"></i></a>
                                                    <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#articleDialog{{ article.id }}"> <i class="glyphicon glyphicon-trash"></i></button>
                                                    <div class="modal fade bs-example-modal-sm" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Voulez vous vraiment supprimer cet article ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Annuler</button>
                                                                    <a href="{{ path('admin_article_delete', { 'id': article.id }) }}"><button type="button" class="btn btn-sm btn-default">Confirmer</button></a>
                                                                </div>
                                                            </div><!--.modal-content end -->
                                                        </div><!-- .modal-dialog end -->
                                                    </div><!--.modal end -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        Aucun articles
                                    </div>
                                {% endif %}
                            </div>
                            <a href="{{ path('admin_article_add') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter un article</a>
                        </div>
                        <div class="tab-pane fade" id="htab2">
                            <div class="space-bottom"></div>
                            <div class="row">
                                {% if comments %}
                                    <h3> Commentaires signalés :<br/></h3>
                                    <div class="col-md-12">
                                        {% if moderationComment == false %}
                                            <p> Il n'y a pas de commentaires signalés </p>
                                        {% else %}
                                            <table class="table table-hover table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Article</th>
                                                    <th>Date</th>
                                                    <th>Auteur</th>
                                                    <th>Commentaire</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                {% for comment in comments %}
                                                    {% if comment.moderation != NULL %}
                                                        <tbody>
                                                        <tr>
                                                            <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                                                            <td>{{ comment.date }}</td>
                                                            <td>{{ comment.author }}</td>
                                                            <td>{{ comment.content | truncate(5, true, '...') }}</td>
                                                            <td>
                                                                <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-primary btn-xs" title="Modifier">   <i class="glyphicon glyphicon-pencil"></i></a>
                                                                <button type="button" class="btn btn-success btn-xs" title="Valider" data-toggle="modal" data-target="#commentDialogValid{{ comment.id }}"> <i class="glyphicon glyphicon-ok"></i></button>
                                                                <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"> <i class="glyphicon glyphicon-trash"></i></button>
                                                                <div class="modal fade bs-example-modal-sm" id="commentDialogValid{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog modal-sm">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                                <h4 class="modal-title" id="mySmallModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                Voulez vous vraiment valider ce commentaire?
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Annuler</button>
                                                                                <a href="{{ path('admin_comment_valid', { 'id': comment.id }) }}"><button type="button" class="btn btn-sm btn-success">Confirmer</button></a>
                                                                            </div>
                                                                        </div><!--.modal-content end -->
                                                                    </div><!-- .modal-dialog end -->
                                                                </div><!--.modal end -->
                                                                <div class="modal fade bs-example-modal-sm" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog modal-sm">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                                <h4 class="modal-title" id="mySmallModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>Voulez vous vraiment supprimer ce commentaire  ?</p>
                                                                                <p>La supression d'un commentaire entrainera la suppression de ses réponses.</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Annuler</button>
                                                                                <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}"><button type="button" class="btn btn-sm btn-danger">Confirmer</button></a>
                                                                            </div>
                                                                        </div><!--.modal-content end -->
                                                                    </div><!-- .modal-dialog end -->
                                                                </div><!--.modal end -->
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                        {% endif %}
                                    </div>
                                    <h3> Tous les commentaires : <br/></h3>
                                    <div class="col-md-12">
                                        <table class="table table-hover table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Article</th>
                                                <th>Date</th>
                                                <th>Auteur</th>
                                                <th>Commentaire</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            {% for comment in comments %}
                                            <tbody>
                                            <tr>
                                                <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                                                <td>{{ comment.date }}</td>
                                                <td>{{ comment.author }}</td>
                                                <td>{{ comment.content | truncate(60) }}</td>
                                                <td>
                                                    <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-primary btn-xs" title="Modifier">  <i class="glyphicon glyphicon-pencil"> </i>   </a>
                                                    <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"> <i class="glyphicon glyphicon-trash"></i></button>
                                                    <div class="modal fade bs-example-modal-sm" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Voulez vous vraiment supprimer ce commentaire  ?</p>
                                                                    <p>La supression d'un commentaire entrainera la suppression de ses réponses.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Annuler</button>
                                                                    <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}"><button type="button" class="btn btn-sm btn-danger">Confirmer</button></a>
                                                                </div>
                                                            </div><!--.modal-content end -->
                                                        </div><!-- .modal-dialog end -->
                                                    </div><!--.modal end -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                        Aucuns commmentaires
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="htab3">
                            <div class="space-bottom"></div>
                            <br/><br/><br/>
                            <div class="row">
                                {% if users %}
                                    <div class="col-md-12">
                                        <table class="table table-hover table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Rôle</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            {% for user in users %}
                                            <tbody>
                                            <tr>
                                                <td>{{ user.username }}</td>
                                                <td>
                                                    {% if user.role == 'ROLE_ADMIN' %}
                                                        Admin
                                                    {% else %}
                                                        Utilisateur
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-primary btn-xs" title="Modifier">  <i class="glyphicon glyphicon-pencil"> </i>  </a>
                                                    <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#userDialog{{ user.id }}"> <i class="glyphicon glyphicon-trash"></i></button>
                                                    <div class="modal fade bs-example-modal-sm" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Nous avons besoin de votre confirmation</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Voulez vous vraiment supprimer cet utilisateur ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Annuler</button>
                                                                    <a href="{{ path('admin_user_delete', { 'id': user.id }) }}"><button type="button" class="btn btn-sm btn-danger">Confirmer</button></a>
                                                                </div>
                                                            </div><!--.modal-content end -->
                                                        </div><!-- .modal-dialog end -->
                                                    </div><!--.modal end -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning">Il n'y pas utilisateur.</div>
                                {% endif %}
                            </div>
                            <a href="{{ path('admin_user_add') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter un utilisateur</a>
                        </div>
                    </div>
                    <!-- tabs end -->

                </div>
            </div>
        </div>
    </section>
{% endblock %}
