{% extends "layout.html.twig" %}

{% block title %}Tous les Articles{% endblock %}

{% block content %}
<section class="main-container container">
    <div class="container">
        <div class="row">
        <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                    <div class="container">
                        <h1 class="text-center">Tous les articles</h1>
                        <div class="row">
                            {% for article  in articles%}
                                <div class="space hidden-md hidden-lg"></div>
                                <div class="col-md-12">
                                    <h2 class="text-center"><a class="articleTitle" href="{{ path('article', { 'id':article.id }) }}">{{ article.title }}</a></h2>
                                    <p class="lead text-center"><i>{{ article.date}}</i></p>
                                    <p class="space-top">{{ article.content| striptags|slice(0, 450) |raw |raw}} ...
                                        <a class="allarticles" href="{{ path('article', { 'id':article.id }) }}"><i class="material-icons">Lire la suite</i> </a></p>
                                </div>
                            {% endfor %}
                            <div class="space hidden-md hidden-lg"></div>
                        </div>
                    </div>
                </div>
                <!-- pagination start -->
                <ul class="pagination">
                    {% for number, position in pages %}
                    {% if position == 'first' %}
                    <li><a href="/{{ number }}">«</a></li>
                    {% elseif position == 'less' or position == 'more' %}
                    <li class="active"><a href="/{{ number }}">...<span class="sr-only">(current)</span></a></li>
                    {% elseif position == 'previous' or position == 'next' %}
                    <li><a href="/{{ number }}">{{ number }}</a></li>
                    {% elseif position == 'current' %}
                        <li>{{ number }}</li>
                    {% elseif position == 'last' %}
                        <li><a href="/{{ number }}">»</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <!-- pagination end -->
            </div>
        </div>
    </div>
</section>
<!-- section end -->
{% endblock %}