{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow white-bg">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-banner-container">
                <div class="slider-banner-fullscreen">
                    <ul>
                        <!-- slide 1 start -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1">

                            <!-- main image -->
                            <img src="{{asset('/lib/assets/images/slider-4d-slide-1.jpg?v1')}}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!-- Translucent background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="800"
                                 data-start="0"
                                 style="background-color:rgba(0,0,0,0.3);">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption very_large_text sfl tp-resizeme"
                                 data-x="center"
                                 data-y="70"
                                 data-speed="200"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="200"
                                 data-splitin="chars"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-splitout="chars">iDea - Unlimited Options
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr small_thin_white text-center tp-resizeme"
                                 data-x="center"
                                 data-y="170"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Quia dolorum consectetur doloremque a aliquam ullam labore, ducimus adipisci iste animi <br> natus asperiores sequi assumenda minima blanditiis. Culpa quis consectetur ratione.
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme sfl"
                                 data-x="center"
                                 data-y="350"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600"><a href="portfolio-item.html" class="btn btn-default btn-lg">Read More<i class="fa fa-angle-double-right pl-10"></i></a>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption light_medium_20 sft"
                                 data-x="center"
                                 data-y="500"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600">
                                <a href="#page-start" class="btn btn-lg smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
                            </div>

                        </li>
                        <!-- slide 1 end -->

                        <!-- slide 2 start -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">

                            <!-- main image -->
                            <img src="{{asset('/lib/assets/images/slider-4d-slide-2.jpg?v1')}}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!-- Translucent background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="800"
                                 data-start="0"
                                 style="background-color:rgba(0,0,0,0.3);">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption very_large_text sfl tp-resizeme"
                                 data-x="center"
                                 data-y="70"
                                 data-speed="200"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="200"
                                 data-splitin="chars"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-splitout="chars">iDea - Powerful Bootstrap Theme
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr small_thin_white text-center tp-resizeme"
                                 data-x="center"
                                 data-y="170"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600">Quia dolorum consectetur doloremque a aliquam ullam labore, ducimus adipisci iste animi <br> natus asperiores sequi assumenda minima blanditiis. Culpa quis consectetur ratione.
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfl tp-resizeme"
                                 data-x="center"
                                 data-y="300"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600"><a href="portfolio-item.html" class="btn btn-default btn-lg">Read More <i class="fa fa-angle-double-right pl-10"></i></a>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption light_medium_20 sft"
                                 data-x="center"
                                 data-y="500"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600">
                                <a href="#page-start" class="btn btn-lg smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
                            </div>

                        </li>
                        <!-- slide 2 end -->
                        <!-- slide 3 start -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">

                            <!-- main image -->
                            <img src="{{asset('/lib/assets/images/slider-4d-slide-3.jpg?v1')}}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!-- Translucent background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="800"
                                 data-start="0"
                                 style="background-color:rgba(0,0,0,0.3);">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption very_large_text sfl tp-resizeme"
                                 data-x="center"
                                 data-y="70"
                                 data-speed="200"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="200"
                                 data-splitin="chars"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-splitout="chars">iDea - Powerful Bootstrap Theme
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr small_thin_white text-center tp-resizeme"
                                 data-x="center"
                                 data-y="170"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600">Quia dolorum consectetur doloremque a aliquam ullam labore, ducimus adipisci iste animi <br> natus asperiores sequi assumenda minima blanditiis. Culpa quis consectetur ratione.
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfl tp-resizeme"
                                 data-x="center"
                                 data-y="300"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600"><a href="portfolio-item.html" class="btn btn-default btn-lg">Read More <i class="fa fa-angle-double-right pl-10"></i></a>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption light_medium_20 sft"
                                 data-x="center"
                                 data-y="500"
                                 data-speed="600"
                                 data-start="0"
                                 data-end="10000"
                                 data-endspeed="600">
                                <a href="#page-start" class="btn btn-lg smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
                            </div>

                        </li>
                        <!-- slide 3 end -->

                    </ul>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <!-- section start -->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
        <div class="container">
            <h1 class="text-center">Publications</h1>
            {% for article  in articles%}
            <div class="row">
                <div class="space hidden-md hidden-lg"></div>
                <div class="col-md-12">
                    <h2 class="text-center"><a class="articleTitle" href="{{ path('article', { 'id':article.id }) }}">{{ article.title }}</a></h2>
                    <p class="lead text-center"><i>{{ article.date}}</i></p>
                    <p class="space-top">{{ article.content | truncate(250, true, '...')}}</p>
                    <a href="{{ path('article', { 'id': article.id }) }}" class="btn btn-lg btn-default center">Lire la suite</a>
                </div>
                {% endfor %}
                <div class="space hidden-md hidden-lg"></div>
            </div>
        </div>
    </div>
    <!-- section end -->
{% endblock %}

